MONGO_URI=mongodb+srv://Swastik:%40Swastik1625%40@cluster0.hocoqlf.mongodb.net/?appName=Cluster0
JWT_SECRET=0f700d52f470f47e521be059c3d142fbcc1b6e3efa44cae70375d8f120fabeb2
PORT=5000
GMAIL_USER=swastikgunake@gmail.com
GMAIL_APP_PASSWORD=ajbbubra eqoemjyr
